/* Estilos Gerais */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #bfbfbf;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  padding-left: 20px;  /* Adiciona espaçamento à esquerda para o nome */
  padding-right: 20px; /* Adiciona espaçamento à direita para os botões */
}

header h1 {
  font-size: 36px;
  margin: 0;
}

.header-buttons {
  justify-content: flex-end;
  display: flex;
  gap: 30px;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Estilos para a seção de Habilidades */
#skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.skill {
  display: flex;
  align-items: center;
}

.skill i {
  margin-right: 10px;
  font-size: 20px;
}

.skill-name {
  font-weight: bold;
}

/* Estilos para a seção de Contato */
#contact {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact a {
  color: #fff;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Botão */
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
}

/* Layout lado a lado */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  flex: 1;
  min-width: 300px; /* Define um tamanho mínimo para melhor responsividade */
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }
  .flex-container {
      flex-direction: column;
  }
  .header-content {
      flex-direction: column;
      text-align: center;
  }
  .header-buttons {
      margin-top: 10px;
  }
}

