/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Container Principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-attachment: fixed;
}

/* Header */
header {
  background-color: #fff; /* Fundo branco */
  color: #000;
  padding: 0; /* Removendo o padding */
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar */
}

.header-background {
  background-color: #fff; /* Fundo branco */
  padding: 20px;
  border-radius: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

header h1 {
  font-size: 3vw; /* Tamanho responsivo */
  margin: 0;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  max-width: 50vw; /* Limite de largura para evitar sobreposição */
  overflow: hidden; /* Evitar overflow */
  text-overflow: ellipsis; /* Adicionar elipses (...) se o texto for muito longo */
  white-space: nowrap; /* Impedir que o texto quebre em várias linhas */
}

/* Foto do Perfil */
.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Espaçamento adequado entre a foto e o nome */
}

/* Botões do Header */
.header-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Empurra os botões para a extrema direita */
}

.header-buttons .btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-buttons .btn:hover,
.header-buttons .btn:focus {
  color: #9b59b6; /* Cor lilás para hover e focus */
}

/* Seção de Introdução */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.intro-content {
  max-width: 800px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-projects {
  display: inline-block;
  padding: 15px 30px;
  font-size: 150%;
  background-color: #9b59b6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-projects:hover,
.btn-projects:focus {
  background-color: #8e44ad;
}

.intro-content h1,
.intro-content p {
  font-size: 24px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#about h2 {
  font-size: 32px;
  text-align: center;
}

#about p {
  text-align: center;
  background-color: #fff;
}

/* Estilo para o título "Sobre Mim" */
#about h2 {
  background-color: #fff;
  font-size: 48px; /* Tamanho grande de fonte */
  text-align: center; /* Alinhamento ao centro */
  font-family: 'Open Sans MS', cursive, open-sans; /* Fonte Comic Sans */
  margin-bottom: 0px; /* Espaço abaixo do título */
}

/* Conteúdo da seção "Sobre Mim" */
.about-content {
  background-color: #fff;
  display: flex;
  justify-content: space-between; /* Espaço entre o texto e a lista de habilidades */
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap; /* Permite quebrar em múltiplas linhas para telas menores */
}

/* Texto da seção "Sobre Mim" */
.text-content {
  flex: 1;
  font-size: 20px;
  font-family: 'Open sans MS', cursive, open-sans; /* Fonte Comic Sans */
  text-align: left; /* Alinhamento à esquerda */
  margin-right: 30px; /* Espaço à direita */
}

/* Lista de habilidades */
.skills-list {
  flex: 1;
  font-family: 'Open sans MS', cursive, open-sans; /* Fonte Comic Sans */
  font-size: 20px;
  flex-wrap: wrap;
}

.skills-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; 
}

.skills-list li {
  flex: 1 1 45%; /* Flex-grow, flex-shrink e flex-basis. 45% do container */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5%;
}

.skills-list i {
  margin-right: 10px;
}

/* Flex Container */
.flex-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #fff;
}

.flex-item {
  flex: 1;
  min-width: 300px;
}

/* Estilo para a seção de projetos */
#projects {
  padding: 20px;
}

.project {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin-bottom: 15px;
}

.project a.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project a.btn:hover {
  background-color: #0056b3;
}

.additional-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f3f3f; /* Usando o cinza sugerido */
  color: #fff;
  padding: 20px;
  margin-top: 20px; 
  width: 100%;
  box-sizing: border-box; /* Inclui o padding e a border no tamanho total do elemento */
}

.additional-section div {
  flex: 1;
  margin:30px; /* Margem entre os divs */
}

.additional-section h2 {
  font-size: 40px; /* Ajuste do tamanho da fonte */
  margin-bottom: 10px;
  text-transform: uppercase;
}

.additional-section p {
  font-size: 20px; /* Ajuste do tamanho da fonte */
  margin-bottom: 10px;
}

/* Link de email */
.additional-section a {
  color: #007bff;
  text-decoration: none;
}

.additional-section a:hover {
  text-decoration: underline;
}

.icons {
  width: 50px; /* Tamanho dos ícones */
  height: 50px; /* Tamanho dos ícones */
  margin: 0 10px; /* Espaçamento entre os ícones */
  vertical-align: middle; /* Alinhamento vertical dos ícones */
  border: 1px solid #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .skills-list {
    margin-top: 20px;
    
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
    max-width: 70vw;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-photo {
    margin-bottom: 10px;
  }

  .header-buttons {
    margin-left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-buttons .btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .flex-item {
    min-width: 100%; /* Garantir que os itens de flex ocupem a largura total em telas pequenas */
  }

  .skill {
    flex-direction: column;
    align-items: flex-start;
  }

  .skill i {
    margin-bottom: 5px;
  }

  .skill-name {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .additional-section {
      flex-direction: column;
      text-align: center;
  }

  .additional-section div {
      margin: 10px 0; /* Ajuste da margem para responsividade */
  }
}

@media (max-width: 768px) {
  .skills-list li {
    flex: 1 1 100%; /* Em telas menores, cada skill ocupa 100% da largura */
    margin-right: 0;
  }
}